# Ignore node_modules folder in the current directory
node_modules/

# Ignore package-lock.json file in the current directory
package-lock.json

# Ignore specific files in the current directory and all subdirectories
**/.xbl3
**/.expires
**/*-cache.json